adam-core @ git+https://github.com/B612-Asteroid-Institute/adam_core@main
numpy
numba
pandas
difi
astropy>=5.3.1
astroquery
scipy
scikit-learn
healpy
pyyaml>=5.1
openorb
spiceypy
pytest
pytest-cov
pre-commit
setuptools>=45
wheel
setuptools_scm>=6.0
