numpy
numba
pandas
difi
astropy
astroquery
scipy
scikit-learn
pyyaml>=5.1
openorb
spiceypy
matplotlib
seaborn
plotly
ipykernel
pytest
pytest-cov
coveralls
setuptools>=45
wheel
setuptools_scm>=6.0
pika
google-cloud-storage
google-cloud-core==1.3.0
google-api-python-client
colorama
paramiko
