adam-core @ git+https://github.com/B612-Asteroid-Institute/adam_core@ef8ee48976dbf9c70580c166de4cc4fd6195fa36
quivr >= 0.7.1
astropy >= 5.3.1
astroquery
difi
healpy
jax
numpy
numba
openorb
pandas
pyarrow >= 13.0.0
pyyaml >= 5.1
ray-default
scikit-learn
scipy
spiceypy
pytest
pytest-benchmark
pytest-cov
pre-commit
setuptools >= 45
wheel
setuptools_scm >= 6.0
