[Unit]
Description=THOR Worker
After=network.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/opt/thor
EnvironmentFile=/etc/thor/env
ExecStart=/etc/thor/start_worker.sh

[Install]
WantedBy=multi-user.target
